# image: node:18

# stages:
#   - install
#   - build

# cache:
#   paths:
#     - node_modules/

# install_dependencies:
#   stage: install
#   script:
#     - npm install

# build_app:
#   stage: build
#   script:
#     - npm run build
#   artifacts:
#     paths:
#       - dist/


image: node:18

stages:
  - install
  - test
  - build

cache:
  paths:
    - node_modules/

install_dependencies:
  stage: install
  script:
    - npm ci

test_app:
  stage: test
  script:
    - npm run lint
    - npm test -- --watch=false

build_app:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
