image: node:18

stages:
  - install
  - test
  - build
  - docker
  - deploy

cache:
  paths:
    - node_modules/

install_dependencies:
  stage: install
  script:
    - npm ci

test_app:
  stage: test
  script:
    - npm run lint

build_app:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/

dockerize:
  stage: docker
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest

k8s_deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl config use-context docker-desktop
    - kubectl apply -f k8s/deployment.yaml
    - kubectl apply -f k8s/service.yaml
