apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-lister
spec:
  replicas: 3

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  selector:
    matchLabels:
      app: game-lister

  template:
    metadata:
      labels:
        app: game-lister
    spec:
      imagePullSecrets:
        - name: gitlab-regcred
      containers:
      - name: game-lister
        image: registry.gitlab.com/yashelke-group/game-lister:latest
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
