
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@keyframes rainbowWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rainbow-text {
  background: linear-gradient(
    270deg,
    #ff0080,
    #ff8c00,
    #40e0d0,
    #8a2be2,
    #ff0080
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowWave 4s ease infinite;
}
